body {
    background-image: url("Hotels\ Business\ Website\ in\ Brown\ White\ Modern\ Elegance\ Style.png");
    background-size: cover;
}

.intro {
    text-align: center;
}

h1 {
    font-family: "Federo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    padding: 0px;
    margin: 120px 200px 0px 200px;
}

p {
    font-family: "Teko", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    margin: 80px 0px 0px 0px;
}

button {
    font-size: 20px;
    padding: 10px;
    font-weight: bolder;
    border-radius: 10px;
    box-shadow: 10em;
}

.button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: block;
    margin: 80px 80px 80px 80px;
    padding: auto;
}

.blur-background {
    z-index: -1;
    backdrop-filter: blur(150px);
}