body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("Hotels\ Business\ Website\ in\ Brown\ White\ Modern\ Elegance\ Style.png");
    background-size: cover;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
    padding: auto;
}

#taskForm {
    padding-left: 50px;
}


h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;

}

input[type="text"],
input[type="date"],
button {
    margin-right: 10px;
}

button {
    font-size: 15px;
    margin-top: 20px;
    margin-left: 35%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.remove-btn {
    color: red;
    cursor: pointer;
}