body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url("../images/background.png");
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#taskListContainer {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the task list */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 5px;
    border-radius: 4px;
}

.remove-btn {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #c82333; /* Darker red on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 10px;
    }

    #taskForm .col-md-6,
    #taskForm .col-md-4,
    #taskForm .col-md-2 {
        margin-bottom: 10px;
    }
}